.talentJobRight p,.talentJobLeft p{font-size: 20px;line-height: 90px;}
.talentJobLeft p{margin-bottom:20px;}
.expertListTopTitle span{margin-left: 10px;}
.talentDetailMoney{float:right;}
.workExperience>p{font-family: SourceHanSansSC, sans-serif;font-size: 18px;color: rgb(16, 16, 16);line-height: 31px;}
.jobDescribe span{margin-left:92px;display: inline-block; margin-top:-30px;}
.jobDescribe{margin-top:15px;}





