.expertSelect{padding-bottom:90px;padding-top:24px;}
.talentJobRight h1{margin-top:22px;}
.talentDetailMoney{margin-right:0;line-height:32px;margin-left:32px;}
.talentDetailMoney .daySalary{width: 108px;height: 33px;font-size: 14px;line-height:33px;}
.talentJobRight p, .talentJobLeft p{line-height:76px;margin-bottom:0;font-size:18px;}
.expertListClassifi{margin-top:-20px;}
.expertListClassifi span{ color:#fff;}
.talentDetailLeft{padding-bottom:90px;}
.talentDetailCollect{margin-bottom:25px;}
.appointment{width:115px;margin-top:3px;}
.onlineSignUp{margin-right:8px;}






